<!DOCTYPE html>
<html <? include html-attributes ?>>
{% if is_old_index %}
  <? include old/index ?>
{% else %}
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include head/config ?>
    <? include head/analytics ?>
    <? include polyfills ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include analytics/body-start ?>
    <? include navbar ?>

    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include footer ?>
    <? include cookie/index ?>
    <? include scripts ?>
  </body>
{% endif %}
</html>
